.header {
  background-color: #1a2238;
  color: white;
  text-align: center;
  padding: 10px;
}

a {
  &:link {
    color: blue;
  }
  &:visited {
    color: white;
  }
  &:hover {
    color: greenyellow;
  }
  &:active {
    color: black;
  }
}
