$background-color: #f4f4f4;

.is-complete {
  text-decoration: line-through;
}

.todo-obj {
  background: $background-color;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  margin: auto;
}

.todo-edit-obj {
  background: $background-color;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  margin: auto;
  text-align: center;
}

.error {
  color: red;
}

/* General button properties */
@mixin bttns {
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* Delete Button */
.btn-del {
  @include bttns;

  float: right;
  background-color: red;
  color: white;
  border: 2px solid white;

  &:hover {
    color: black;
    border: 2px solid black;
  }
}

/* Edit Button */
.btn-edit {
  @include bttns;

  float: right;
  background-color: yellow;
  color: black;
  border: 2px solid white;

  &:hover {
    border: 2px solid black;
  }
}

/* Save Button */
.btn-save {
  @include bttns;

  background-color: #53ff1a;
  color: black;
  border: 2px solid white;

  &:hover {
    border: 2px solid black;
  }
}

/* Cancel Button */
.btn-cancel {
  @include bttns;

  background-color: black;
  color: white;
  border: 2px solid white;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}
