<div>
  <div class="todo-obj" [ngClass]="setClasses()" *ngIf="!editMode">
    <p>
      <input (change)="onToggle(todo)" [checked]="todo.completed" type="checkbox" />
      {{ todo.title }}
      <button (click)="onDelete(todo)" class="btn-del">DELETE</button>
      <button (click)="onEdit(todo)" class="btn-edit">EDIT</button>
    </p>
  </div>
  <div class="todo-edit-obj" *ngIf="editMode">
    <p>
      Todo Description: <input type="text" [(ngModel)]="tempTitle" size="40px" /><br>
      <button (click)="onSave(todo)" class="btn-save">SAVE</button>
      <button (click)="onCancelEdit(todo)" class="btn-cancel">CANCEL</button>
    </p>
    <p class="error" *ngIf="emptyTitle">Todo description cannot be empty</p>
  </div>
</div>
